# gitignore file
node_modules
dist

# cle ssh
/key

# state file
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/terraform.tfvars.json
terraform/.terraform*
